In [1]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import numpy as np

In [2]:
def read_data(path):
    if '.csv' in path:
        return pd.read_csv(path)
    elif '.xlsx' in path:
        return pd.read_excel(path)

In [60]:
df = read_data('./data/test_scores.csv')
df.head()

,school,school_setting,school_type,classroom,teaching_method,n_student,student_id,gender,lunch,pretest,posttest
0,ANKYI,Urban,Non-public,6OL,Standard,20.0,2FHT3,Female,Does not qualify,62.0,72.0
1,ANKYI,Urban,Non-public,6OL,Standard,20.0,3JIVH,Female,Does not qualify,66.0,79.0
2,ANKYI,Urban,Non-public,6OL,Standard,20.0,3XOWE,Male,Does not qualify,64.0,76.0
3,ANKYI,Urban,Non-public,6OL,Standard,20.0,556O0,Female,Does not qualify,61.0,77.0
4,ANKYI,Urban,Non-public,6OL,Standard,20.0,74LOE,Male,Does not qualify,64.0,76.0

In [69]:
df.loc[-1] = ['ANKYI',	'', np.nan,	np.nan,	np.nan,np.nan,	np.nan,np.nan,	np.nan,	np.nan,	np.nan,]
df.reset_index(drop=True, inplace=True)

In [33]:
df.shape

(2140, 11)

In [6]:
df.columns

Index(['school', 'school_setting', 'school_type', 'classroom',
       'teaching_method', 'n_student', 'student_id', 'gender', 'lunch',
       'pretest', 'posttest'],
      dtype='object')

In [46]:
df = df.astype({'school':str})

In [11]:
df['student_id'].astype('float64')

ValueError: could not convert string to float: '2FHT3'

In [49]:
df.describe()

         n_student      pretest     posttest
count  2133.000000  2133.000000  2133.000000
mean     22.796531    54.955931    67.102203
std       4.228893    13.563101    13.986789
min      14.000000    22.000000    32.000000
25%      20.000000    44.000000    56.000000
50%      22.000000    56.000000    68.000000
75%      27.000000    65.000000    77.000000
max      31.000000    93.000000   100.000000

In [47]:
a = df.dtypes
a

school              object
school_setting      object
school_type         object
classroom           object
teaching_method     object
n_student          float64
student_id          object
gender              object
lunch               object
pretest            float64
posttest           float64
dtype: object

In [41]:
a['school'] == 'O'

True

In [ ]:
df['school']

In [59]:
df[df['pretest'].isnull()]

Empty DataFrame
Columns: [school, school_setting, school_type, classroom, teaching_method, n_student, student_id, gender, lunch, pretest, posttest]
Index: []

In [26]:
df.loc[df['n_student'].isnull(), 'n_student'] = df['n_student'].mean()

In [28]:
df['n_student'].median()

df.astype()

22.0

In [30]:
df2 = pd.DataFrame({'teste': ['1', '2', '3', '4'], 'teste2':[1,2,3,4]})
df2.dtypes

teste     object
teste2     int64
dtype: object

In [32]:
df2['teste'] = df2['teste'].astype('float64')

In [33]:
df2

   teste  teste2
0    1.0       1
1    2.0       2
2    3.0       3
3    4.0       4

In [75]:
def method_clean(data, column, method):
    if method == 'mean':
        data.loc[data[column].isnull(), column] = data[column].mean()
    elif method == 'median':
        data.loc[data[column].isnull(), column] = data[column].median()
        
    data.reset_index(drop=True, inplace=True)
    
    return data
    
def data_clean(df, method='remove'):
    data = df.copy()
    
    columns = data.columns
    columns_type = data.dtypes
    
    if method == 'remove':
        data = data.dropna()
        data.reset_index(drop=True, inplace=True)
        
        for column in columns:
            try:
                if data[data[column] == ''] or data[data[column].isnull()]:
                    data = data.drop(data[data[column] == ''])
                    data.reset_index(drop=True, inplace=True)
            except:
                continue
    else:
        for column in columns:
                if columns_type[column] == 'O':
                    try:
                        data[column] = data[column].astype('float64')
                        
                        data = method_wrangling(df, column, method)
                    except:
                        data.loc[data[column].isnull(), column] = np.NaN
                        data.loc[data[column] == '', column] = np.NaN
                        
                else:
                    data = method_wrangling(data, column, method)
    return data

In [77]:
data_clean(df, method='median')

,school,school_setting,school_type,classroom,teaching_method,n_student,student_id,gender,lunch,pretest,posttest
0,ANKYI,Urban,Non-public,6OL,Standard,20.0,2FHT3,Female,Does not qualify,62.0,72.0
1,ANKYI,Urban,Non-public,6OL,Standard,20.0,3JIVH,Female,Does not qualify,66.0,79.0
2,ANKYI,Urban,Non-public,6OL,Standard,20.0,3XOWE,Male,Does not qualify,64.0,76.0
3,ANKYI,Urban,Non-public,6OL,Standard,20.0,556O0,Female,Does not qualify,61.0,77.0
4,ANKYI,Urban,Non-public,6OL,Standard,20.0,74LOE,Male,Does not qualify,64.0,76.0
...,...,...,...,...,...,...,...,...,...,...,...
2137,ANKYI,NaN,NaN,NaN,NaN,22.0,NaN,NaN,NaN,56.0,68.0
2138,ANKYI,NaN,NaN,NaN,NaN,22.0,NaN,NaN,NaN,56.0,68.0
2139,ANKYI,NaN,NaN,NaN,NaN,22.0,NaN,NaN,NaN,56.0,68.0
2140,ANKYI,NaN,NaN,NaN,NaN,22.0,NaN,NaN,NaN,56.0,68.0
2141,ANKYI,NaN,NaN,NaN,NaN,22.0,NaN,NaN,NaN,56.0,68.0